<% if user_signed_in? %>
	<!-- iterates through the posts and creates post its for all the posts in db-->

	<div class="control-group" style="margin:5px;float:right">
		<div class="btn-group" data-toggle="buttons-radio" data-toggle-name="checkbox_group">
			<button class="btn" id="chkbox1"  type="button" value="list" style="width:60px" > List </button>
			<button class="btn active" id="chkbox2"  type="button" value="notes" style="width:60px" checked> Notes </button>
		</div>
		<input type="hidden" name="checkbox_group" value="1"/>
	</div>
	<script>
		$("#chkbox1").click(function(){
			$("#noteContainer").css("visibility","hidden");
			$("#listContainer").css("visibility","visible");

		});
		$("#chkbox2").click(function(){
			$("#noteContainer").css("visibility","visible");
			$("#listContainer").css("visibility","hidden");

		});
	</script>
	<div id ="noteContainer"style="margin:0px;height:100%;width:100%;">

		<% current_user.projects.each do |post| %>
			<script type="text/javascript">
				new Note("<%= j post.title %>","<%= j post.content %>", <%= post.id%>, <%= post.lastX %>, <%= post.lastY %>,<%= post.lastZ %>);
			console.log(<%= post.id%>);
			</script>
		<% end %>
	</div>

	<div id="listContainer" style="margin-top:-1000px;visibility:hidden">
		<table class="table table-bordered">
		    <tr>
		    	<th>Title</th>
		    	<th>Content</th>
		        <th></th>
		    </tr>
		<% current_user.projects.each do |post| %>
			<tr>
	          <td><%= post.title %></td>
	          <td><%= h post.content %></td>
	          <td></td>
			</tr>
			<% end %>
    	</table>
<% end %>