

<script type="text/javascript"> Note("Example Title","Example message")</script>


<% @posts.each do |post| %>
	<script type="text/javascript">
		Note("<%= j post.title %>","<%= post.content %>", <%= post.id%>, <%= post.lastX %>, <%= post.lastY %>)</script>
	    

	<td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Delete', post, method: :delete, :remote => true, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<br />

<%= link_to 'New Post', new_post_path %>
-->